{% block modal %}

<!-- Modal -->
<form 
class="modal-content"
hx-post="{{ request.path }}" >
    {% csrf_token %}
    <div class="modal-header">
        <h1 
        class="modal-title fs-5" 
        id="editModalLabel">
        Edit Task "{{ task }}"
        </h1>
        <button 
        type="button" 
        class="btn-close" 
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    {{ form }}   
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button 
            class="btn btn-primary" 
            data-bs-dismiss="modal" 
            hx-post="{% url 'Edit_User_Task_History' task.id %}"
            hx-target="#taskHistoryTable"
            hx-swap="outerHTML"
        >
            Save changes
        </button>
    </div>
</form>

{% endblock modal %}