{% extends 'main/base.html' %}

{% block content %}

<h1>Welome to the timesheet!</h1>
<p>Hey {{ user.username }}</p>

<form method="post" class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Daily Tasks</th>
            <th scope="col">Job Code</th>
            <th scope="col">Description</th>
            <th scope="col">Time Spent</th>
            <th scope="col"><div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-sm btn-success">New Task</button>
                <button type="button" class="btn btn-sm btn-info">New Daily Timesheet</button>
              </div></th>
          </tr>
        </thead>
        <tbody>
            <!-- Task Timer Inputs -->
            {% csrf_token %}
          <tr>
            <th scope="row">Task</th>
            <td>
                <input class="form-control" type="text" placeholder="Job Code" aria-label="default input example">
            </td>
            <td>
              <select class="form-select" aria-label="Job Description">
                <option selected>Select the job type</option>
                <option value="Adm">Admin</option>
                <option value="Des">Design</option>
                <option value="Doc">Documentation</option>
                <option value="Dwg">Drawings</option>
                <option value="Gen">General</option>
              </select>
                
            </td>
            <td>
                <input type="time" class="form-control" id="inputTime" name="time" step="2" value="00:00:00">
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <button type="button" class="btn btn-sm btn-success" id="timerButton" >Start</button> 
                  <button type="button" class="btn btn-sm btn-warning">Add</button>
                  <button type="button" class="btn btn-sm btn-danger">Delete</button>
                    <!-- Update start button to change to stop when timer is running -->
                    <!-- Add logic to make timer work -->
                  </div>
            </td>
          </tr>
        </tbody>
      </table>
</form>

{% if userTaskTimes.len > 0 %}
<h3>Here is a list of all your previous tasks and times</h3>

    {% for task in userTaskTimes %}
    
        <p>{{ task }}</p>
    
    {% endfor %}


{% endif  %}

<script>
  console.log("This is Tim's script")
  const startBtn = document.getElementById("timerButton")
  let seconds = 0
  let isTiming = false
  let timer

  function getAccumalatedTime(){
    let inputTime = document.getElementById("inputTime").value
    let parts = inputTime.split(":")
    seconds += ((+parts[0]*60*60)+(+parts[1]*60)+(+parts[2]))
  }

  function incrementTimer(){
    seconds++
    let date = new Date(null)
    date.setSeconds(seconds)
    let timeStr = date.toISOString().substr(11,8)
    let inputTime = document.getElementById('inputTime').value = timeStr
  }

  startBtn.addEventListener("click", ()=>{
    if (isTiming) {
      // Pause timer
      isTiming = false
      startBtn.textContent = "Start"
      clearInterval(timer)
    } else {
      // Start Timer
      isTiming = true
      seconds = 0
      getAccumalatedTime()
      startBtn.textContent = "Pause"
      timer = setInterval(incrementTimer, 1000)
    }
  })

</script>

{% endblock content %}
