{% extends 'main/base.html' %}

{% block content %}

<h1>Welcome to the your Task Timer</h1>

  <table class=" table table-hover">
    <tbody>
      <tr>
        <form method="POST" class="container">
        {% csrf_token %}
          <th scope="col">New Task</th>
          {% for row in taskTimerForm %}
          <td scope="col">
            {{ row }}
          </td>   
        {% endfor %}
          <td>
              <button id="addTask" type="submit" formmethod="POST" formaction="{% url 'Create_Timer' %}" class="btn btn-m btn-primary">Add</button>
          </td>
        </form>
      </tr>
    </tbody>
  </table>

<h3>Task History</h3>
<table class="table table-hover ">
  <thead>
    <tr>
      <!-- <th scope="col">Daily Tasks</th> -->
      <th scope="col">Date Created</th>
      <th scope="col">Job Code</th>
      <th scope="col">Description</th>
      <th scope="col">Time Spent</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for task in userTasks reversed %}
    <tr id="task{{ task.id }}">
      <!-- <th scope="col">
        {{ task.id }}
      </th> -->
      <td id="date_created{{ task.id }}" class="col-2" scope="col">
        {{ task.date_created|date:"d-m-Y" }}
      </td>
      <td id="job_code{{ task.id }}" class="col-3" scope="col ">
        {{ task.job_code }}
      </td>
      <td id="description{{ task.id }}" class="col-3" scope="col">
        {{ task.description }}
      </td>
      <td id="elapsed_time{{ task.id }}" class="col-2" id="elapsed_time_display" scope="col">
        {{ task.elapsed_time }}
      </td>
      <td class="col-2" scope="col">
        <form method="POST">
          <div class=" container btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
            {% csrf_token %}
            {% if task.is_running == True %}
            <button type="submit" class="btn btn-secondary" type="submit" formaction="{% url 'Stop_Timer' task.id %}"> Pause </button>
            {% else %}
            <button type="submit" class="btn btn-success" type="submit" formaction="{% url 'Start_Timer' task.id %}"> Start </button>
            <button id="edit_task{{ task.id }}" type="submit" class="btn btn-warning" type="submit" formaction="{% url 'Edit_Timer' task.id %}">Edit</button>
            {% endif %}
            <button type="submit" class="btn btn-danger" type="submit" formaction="{% url 'Delete_Timer' task.id %}">Delete</button>
          </div>
        </form>
      </td>
    </tr> 
  {% empty %}
    <tr>
      <td colspan="12" >You have no task history</td class="col-12">
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  // Handle Edit functionality for tasks
  let btns = document.getElementsByTagName('button')
  let btnsArr = Array.from(btns)

  let editBtns = btnsArr.reduce((arr, ele) => {
    ele.getAttribute("id").slice(0,3) === "edit" ? arr.push(ele) : console.log(ele)
  }, [])

</script>
<script>
  const startBtn = document.getElementById("addTask")
  let seconds = 0
  let isTiming = false
  let timer
  

  function getAccumalatedTime(){
    let inputTime = document.getElementById("elapsed_time_input").value
    let parts = inputTime.split(":")
    seconds += ((+parts[0]*60*60)+(+parts[1]*60)+(+parts[2]))
  }

  function incrementTimer(){
    seconds++
    let date = new Date(null)
    date.setSeconds(seconds)
    let timeStr = date.toISOString().substr(11,8)
    let inputTime = document.getElementById('elapsed_time_input').value = timeStr
  }

  startBtn.addEventListener("click", ()=>{
    if (isTiming) {
      // Pause timer
      isTiming = false
      startBtn.textContent = "Start"
      clearInterval(timer)
    } else {
      // Start Timer
      isTiming = true
      seconds = 0
      getAccumalatedTime()
      startBtn.textContent = "Pause"
      timer = setInterval(incrementTimer, 1000)
    }
  })

</script>

{% endblock content %}
