{% extends 'main/base.html' %}
{% load timesheetTags %}

{% block content %}
<main id="taskHistoryContent" class="container-fluid p-4">
    <form method="POST" class="container">
    {% csrf_token %}
        {% include 'partials/taskHistoryTable.html' %}
    </form>


    <!-- Modal for edit interface -->
    <div class="modal fade" id="editHistoryModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div id="taskHistoryDialog" class="modal-dialog">
        <!-- Inject Modal HTML in here -->
        </div>
    </div>
</main>

{% endblock %}