{% block modal %}

    <!-- Modal -->

<div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title fs-5" id="addNewProjectLabel">Add New Project</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="">
        {% csrf_token %}
        <div class="modal-body">
            {{ projects_form.as_p }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button 
                class="btn btn-primary"
                type="submit" 
                formmethod="POST" 
                formaction="{% url 'Create_Project' %}" 
                >
                Save changes
            </button>
    </div>
    </form>
</div>

{% endblock modal %}
