<tr 
id="task_{{ task.id }}" 
class="task_row"
hx-target="this"
hx-swap="outerHTML">
    <td id="date_created_{{ task.id }}" class="col-2 task_created_date" scope="col">
      {{ task.date_created|date:"d-m-Y" }}
    </td>
    <td id="job_code_{{ task.id }}" class="col-2 task_job_code editable" scope="col ">
      {{ task.job_code }}
    </td>
    <td id="ancillary_job_code_{{ task.id }}" class="col-2 task_ancillary_job_code editable" scope="col ">
      {{ task.ancillary_code }}
    </td>
    <td id="description_{{ task.id }}" class="col-2 task_elapsed_time editable" scope="col">
      {{ task.get_description_display }}
    </td>
    <td id="elapsed_time_{{ task.id }}" class="col-2 elapsed_time_value" scope="col">
      {{ task.elapsed_time }}
    </td>
    <td id="is_ongoing_{{ task.id }}" class="col-1" scope="col">
      <div class="form-check form-switch">
        <input 
        role="switch" 
        class="form-check-input" 
        type="checkbox" 
        {% if task.is_ongoing %} checked {% endif %}
        id="is_ongoing_{{ task.id }}"
        hx-post="{% url 'Update_Ongoing' task.id %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="change"
        hx-target="#todaysTasks"
        hx-swap="outerHTML"
        >
      </div>
    </td>
    <td class="col-2" scope="col">
        <div 
        id="task_{{ task.id }}_btn_group" 
        class="container btn-group btn-group-sm" 
        role="group" .
        aria-label="Basic mixed styles example"
        >
            <button 
            id="start_task_{{ task.id }}" 
            class="btn btn-success start_btn" 
            hx-post="{% url "Start_Timer" task.id %}"
            > 
            Start 
            </button>
            <button 
            id="edit_task_{{ task.id }}" 
            class="btn btn-warning edit_btn" 
            data-bs-toggle="modal" 
            data-bs-target="#editModal" 
            hx-get="{% url 'Edit_Timer' task.id %}" 
            hx-target="#dialog"
            hx-swap="innerHTML"
            >
            Edit
            </button>
            <button 
            id="delete_task_{{ task.id }}" 
            class="btn btn-danger delete_btn" 
            hx-post="{% url "Delete_Timer"  task.id %}" 
            hx-confirm="Are you sure you want to delete this?" 
            >
            Delete
            </button>
        </div>
    </td>
</tr>