<!-- <nav class="navbar  container-fluid navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav container-fluid d-flex justify-content p-2 ">
        <li class="nav-item  me-auto mb-3">
            <a class="navbar-brand" href="{% url 'Home' %}">MacTrack</a>
        </li>
        {% if request.user.username %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'User_Profile' request.user.username %}" tabindex="-1" aria-disabled="true">{{ request.user.username }}</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'Logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
        {% else %}
        <li class="nav-item ms-auto">
            <a class="nav-link" href="{% url 'Login' %}" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        {% endif %}
        
        </li>
    </ul>
</nav> -->

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'Home' %}">MacTrack</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="{% url 'Logout' %}">Logout</a>
    </div>
  </div>
</header>
