    <!-- Sidebar -->
        <ul class="nav nav-tabs flex-column flex-column navbar-dark">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Design</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Machine Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Out Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Welding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electrical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fitting Floor</a>
            </li>
        </ul>