    <!-- Sidebar -->
        <ul class="nav nav-tabs flex-column flex-column navbar-dark">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Task_Timer' %}">Task Timer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Task_Timer_Reports' %}">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Projects_Page' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Machine Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Welding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electrical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fitting Floor</a>
            </li>
        </ul>